[submodule "tests/sdl/extern/sdl"]
	path = tests/sdl/extern/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "hill/extern/imgui"]
	path = hill/extern/imgui
	url = https://github.com/ocornut/imgui/
	branch = docking
[submodule "hill/extern/glm"]
	path = hill/extern/glm
	url = https://github.com/g-truc/glm
